<style>
  
</style>
<mat-toolbar color="primary">
  {{ title }}
</mat-toolbar>
<div id="content">
<h1 class="mat-headline">Fat Percentage</h1>
<!-- <mat-form-field class="example-full-width">
  <input matInput placeholder="Value" [(ngModel)]="bfVal">
</mat-form-field> -->
<input type="number" step={{step}} [(ngModel)]="bfVal" (input)="onBodyInputChange($event)">
<div class="slider-container">
    <input id="bfSlider" type="range" min={{bfMin}} max={{bfMax}} step={{step}} [(ngModel)]="bfVal" (input)="onBodyInputChange($event)" />
</div>
<h1 class="mat-headline">Lean Mass Percentage</h1>
<!-- <mat-form-field class="example-full-width">
  <input matInput placeholder="Favorite food" [(ngModel)]="lmVal">
</mat-form-field> -->
<input type="number" step={{step}} [(ngModel)]="lmVal" (input)="onLeanInputChange($event)">
<div class="slider-container">
    <input id="lmSlider" type="range" min={{lmMin}} max={{lmMax}} step={{step}} [(ngModel)]="lmVal" (input)="onLeanInputChange($event)" />
</div>
<h1 class="mat-headline">Bone Mass Percentage</h1>
<input type="number" [(ngModel)]="bmVal">
<div class="slider-container">
<input id="bmSlider" type="range" min={{bmMin}} max={{bmMax}} step={{step}} [(ngModel)]="bmVal" />
</div>
</div>





